.logo {

  path {
    transition-duration: .2s;
  }

  &:hover {
    cursor: pointer;

    :global(#back) {
      fill-opacity: 0;
    }

    :global(#text) {
      fill: #FFF;
      fill-opacity: 1;
    }
  }

}
